
*{
    margin: 0;
    padding: 0;
}

.container1{
    height: 100vh;
    width: 100%;
    background-image: url(./img/Apricotpagebackground.png);
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
    background-color: rgb(255, 170, 43);
}

.apricotcontent h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    font-weight: 100;
    margin-top: 40px;
    margin-bottom: 15px;
    color: aliceblue;
}

.apricotcontent p{
    font-size: 15px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

.apricotcontent{
    margin-left: 20%;
    overflow: hidden;
    
}

.featureapricot{
    height: 30%;
    position: absolute;
    right: 580px;
    bottom: 475px;
}

.apricotN{
    height: 80%;
    position: absolute;
    right: 100px;
    bottom: 200px;
    top: 50px;
}

.apricotcontent h2{
    margin-top: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: aliceblue;

}

.apricot-cheesecake{
    height: 20%;
    position: absolute;
    right: 650px;
    bottom: 150px;
    
}