*{
    margin: 0;
    padding: 0;
}

.container1{
    height: 100vh;
    width: 100%;
    background-image: url(./img/BananaPageBackground.png);
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
    background-color: rgb(212, 210, 99);
}

.bananacontent h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    font-weight: 100;
    margin-top: 40px;
    margin-bottom: 15px;
    color: rgb(0, 0, 0);
}

.bananacontent p{
    font-size: 15px;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}

.bananacontent{
    margin-left: 20%;
    overflow: hidden;
    
}

.featurebanana{
    height: 30%;
    position: absolute;
    right: 580px;
    bottom: 475px;
}

.bananaN{
    height: 80%;
    position: absolute;
    right: 100px;
    bottom: 200px;
    top: 50px;
}

.bananacontent h2{
    margin-top: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;

}

.bananabreadgif{
    height: 20%;
    position: absolute;
    right: 700px;
    bottom: 100px;
    
}